# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: 'Use NET6.0'
  inputs:
    packageType: 'sdk'
    version: '6.x'

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build netstandard2.0'
  inputs:
    command: 'build'
    projects: 'src/**/*.csproj'
    arguments: '--no-restore -c $(buildConfiguration) -f netstandard2.0'

- task: DotNetCoreCLI@2
  displayName: 'Build test project for netstandard2.0'
  inputs:
    command: 'build'
    projects: 'tests/**/*.csproj'
    arguments: '--no-restore --no-dependencies -c $(buildConfiguration) -f net6.0'

- task: DotNetCoreCLI@2
  displayName: 'Test netstandard2.0'
  inputs:
    command: 'test'
    projects: 'tests/**/*.csproj'
    arguments: '--no-build -c $(buildConfiguration) -f net6.0'

- task: UseDotNet@2
  displayName: 'Use NET5.0'
  inputs:
    packageType: 'sdk'
    version: '5.x'

- task: UseDotNet@2
  displayName: 'Use NET3.1'
  inputs:
    packageType: 'sdk'
    version: '3.1.x'



- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    arguments: '--no-restore -c $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Test'
  inputs:
    command: 'test'
    projects: 'tests/**/*.csproj'
    arguments: '--no-build -c $(buildConfiguration)'
